* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 0;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background: linear-gradient(150deg, rgba(97, 205, 255, 0.295), rgba(218, 98, 255, 0.247), rgba(84, 229, 255, 0.212), rgba(157, 243, 136, 0.247));
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    background: linear-gradient(to right, #b662b3, #9475b3, #5e96aa);
    background-size: 500% 100%;
    animation: degrade 10s infinite;
    position: fixed;
    padding: 0 30px;
    z-index: 10;
    animation-direction: alternate-reverse;
}

@keyframes degrade {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 100%;
    }
}

header h1 {
    font-size: 60px;
    font-family: 'Amatic SC', cursive;
    color: white;
}

.logo,
.logo img {
    transition: all 1s;
    height: 100%;
    padding: 5px
}

.logo {
    transition: all 1s;
    width: 256px;
}

.logo:hover {
    scale: 80%;
}

nav {
    justify-content: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    gap: 5px;
}

#contato-nav:hover {
    opacity: .8;
}

#cardapio-nav:hover {
    opacity: .8;
}

#contato-nav:active {
    opacity: .5;
}

#cardapio-nav:active {
    opacity: .5;
}

.logo img {
    height: 100%;
}

.logo,
nav {
    height: 100%;
    width: 158px;
}

.sorteio {
    margin-top: 3vw;
    max-width: 1400px;
}

.sorteio img {
    border-radius: 30px;
    width: 100%;
    height: auto;
}

main {
    width: 100%;
    padding: 80px 20px;
    margin: 0 auto;
    max-width: 1400px;
    max-height: 60%;
}

.background {
    border-radius: 30px;
    padding: 20px;
    background-image: url(./images/Design\ sem\ nome.png);
    background-size: cover;
    background-repeat: no-repeat;
}

main,
body,
html {
    scroll-behavior: smooth;
    scroll-padding-top: 160px;
}

.intro {

    margin: 20px 0;
    border-radius: 30px;
}


.banner {
    padding: 50px;
    padding-top: 10px;
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    padding: 20px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.199);
    text-shadow: 0.1em 0.1em 0.1em grey;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 60px;
    width: fit-content;
    text-align: center;
    line-height: 1;

}

.cards {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-flow: row wrap;
    margin-bottom: 70px;
}

.card {
    width: calc((100% / 2) - 15px);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    background: rgba(0, 0, 0, 0.616)
}


.card-img {
    position: relative;
    width: 300px;
    display: flex;
    flex-flow: row nowrap;
    height: fit-content;
}

.card-img img {
    border-radius: 20px;
    width: 100%;
    transition: all 1s;
    padding: 7px;
}

.card-img img:nth-of-type(2) {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 300px;
}

.card-desc {
    width: calc(100% - 450px);
    padding: 15px;
    z-index: 4;
    align-self: stretch;
    flex-grow: 1;
}

.card-desc h1 {
    line-height: 100%;
    margin-bottom: 5px;
}

.card-img img:nth-of-type(2):hover {
    transform: rotate(-5deg);
    scale: 115%;
}

a {
    text-decoration: none;
}

.titulo-mob {
    display: none;
}

#titulo-cardapio {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

#titulo-cardapio h1 {
    text-shadow: 0.1em 0.1em 0.1em rgb(31, 31, 31);
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 60px;
    width: fit-content;
    text-align: center;
    line-height: 1;
}



#cards-cardapio {
    padding: 20px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-flow: row wrap;
    display: flex;
    width: 100%;
    height: fit-content;
}

.card-cardapio {
    width: calc((100% / 3) - 15px);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
}

.card-cardapio,
.card-valores {
    backdrop-filter: blur(2px);
    background: rgba(8, 8, 8, 0.342)
}

.card-cardapio h1,
.card-valores h1 {
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    padding: 8px;
}

.card-cardapio ul {
    font-size: 18px;
    padding-left: 50px;
    padding-bottom: 10px;
}

.card-valores {
    padding: 30px;
    padding-top: 8px;
    width: 70%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
}

.card-desc-cardapio {
    width: calc(100% - 450px);
    padding: 10px;
    z-index: 4;
    align-self: stretch;
    flex-grow: 1;
}

.separacao {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 20px;
    background: white;
}

footer {
    padding: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-flow: row nowrap;
    gap: 50px;
    align-items: center;
    width: 100vw;
    max-height: 300px;
    background: linear-gradient(to right, #b662b3, #9475b3, #5e96aa);
    background-size: 500% 100%;
    animation: degrade 10s infinite;
    animation-direction: alternate-reverse;
}

footer img {
    margin-bottom: 10px;
    max-width: 50px;
}

.instagram .whatsapp .email {
    justify-content: center;
    display: flex;
}

.contato-instagram {
    width: 30px;
}


.contato-whatsapp {
    width: 35px;
}

.contato-email {
    width: 35px;
}

@media (max-width: 1200px) {
    .card-desc {
        padding: 15px;
    }

    .card-desc h1 {
        font-size: 20px;
    }

    .card-desc p {
        font-size: 13px;
    }

    .card-img {
        width: 50%;
    }

    .card-img img:nth-of-type(2) {
        width: 100%;
    }

    .card-desc {
        width: 40%;
    }
}

@media (max-width: 900px) {
    .card-desc h1 {
        font-size: 20px;
    }

    #titulo-cardapio h1 {
        font-size: 50px;
    }

    .card-cardapio ul {
        padding-left: 30px;
        padding-bottom: 10px;
    }

    .card-desc-cardapio p,
    li {
        font-size: 12px;
        padding-bottom: 5px;
    }

    .card-cardapio h1,
    .card-valores h1 {
        font-size: 15px;
        margin-bottom: 2px;
        display: flex;
        justify-content: center;
        padding: 8px;
    }

    .card-valores h2 {
        font-size: 15px;
        margin-bottom: 2px;
        display: flex;
        padding: 8px;
    }

}

@media (max-width: 700px) {
    #cards-cardapio {
        background-image: url(./images/Design\ sem\ nome\ \(1\).png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: center;
    }

    .card-desc h1 {
        font-size: 20px;
    }

    .card-desc p {
        font-size: 15px;
    }

    .titulo {
        display: none;
    }

    .titulo-mob {
        display: flex;
        align-items: center;
    }

    .titulo-mob h1 {
        font-size: 40px;
    }

    .logo {
        width: auto;
        display: flex;
        flex-flow: row nowrap;
        padding: 10px 0;
        gap: 5px;
    }

    nav {
        width: auto;
    }

    .card {
        width: 100%;
    }

}

@media (max-width: 650px) {
    .banner h1 {
        font-size: 45px;
    }

    .card-img {
        width: 50%;
    }

    .card-img img:nth-of-type(2) {
        width: 100%;
    }

    .card-desc {
        width: 40%;
    }

    .titulo-mob h1 {
        font-size: 30px;
    }

    .logo {
        padding: 20px 0;
    }

    header {
        padding: 0 10px;
    }
}

@media (max-width: 600px) {

    #titulo-cardapio h1 {
        font-size: 40px;
    }

    .card-cardapio ul {
        padding-left: 30px;
        padding-bottom: 10px;
    }

    .card-desc-cardapio p,
    li {
        font-size: 15px;
        padding-bottom: 5px;
    }

    .card-cardapio h1,
    .card-valores h1 {
        font-size: 20px;
        margin-bottom: 2px;
        display: flex;
        justify-content: center;
        padding: 8px;
    }

    .card-valores h2 {
        font-size: 18px;
        margin-bottom: 2px;
        display: flex;
        padding: 8px;
    }

    #cards-cardapio {
        justify-content: center;
        justify-items: center;
        display: flex;
        flex-flow: column nowrap;
    }

    .card-cardapio {
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        flex-flow: row nowrap;
    }

    .card-valores {
        width: 100%;
    }

    a {
        font-size: 13px;
        padding-right: 10px;
    }

    .banner {
        padding: 40px;
    }

    .banner h1 {
        font-size: 35px;
    }


    .card-img {
        width: 50%;
    }

    .card-desc {
        padding: 10px;
        width: 40%;
    }

    .titulo-mob h1 {
        font-size: 24px;
    }

    .logo {
        padding: 20px 0;
    }

    .card-desc-cardapio-especiais {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 10%;
    }

    .card-desc-cardapio-especiais h1 {
        font-size: 13px;
    }

    .coberturas-especiais .recheios-especiais {
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 1;
    }
}

@media (max-width: 500px) {


    #titulo-cardapio h1 {
        font-size: 40px;
    }

    .card-cardapio ul {
        padding-left: 30px;
        padding-bottom: 10px;
    }

    .card-desc-cardapio p,
    li {
        font-size: 12px;
        padding-bottom: 5px;
    }

    .card-cardapio h1 {
        font-size: 18px;
        margin-bottom: 2px;
        display: flex;
        justify-content: center;
        padding: 8px;
    }

    .card-desc h1 {
        font-size: 20px;
    }

    .card-desc p {
        font-size: 12px;
    }

    .card-desc-cardapio-especiais {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 10%;

    }

    .card-desc-cardapio-especiais h1 {
        text-align: center;
    }

    .card-desc-cardapio-especiais h1 {
        font-size: 13px;
    }

    .coberturas-especiais .recheios-especiais {
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 1;
    }
}

@media (max-width: 360px) {
    #footer a {
        font-size: 10px;
    }
}

@media (max-width: 300px) {
    .card-desc h1 {
        font-size: 12px;
    }

    .card-desc p {
        line-height: 12px;
        font-size: 10px;
    }
}