* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'poppins', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background: #201b24;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    background: linear-gradient(to right, #ffa3fc, #cc9dfc, #9de3fc);
    background-size: 500% 100%;
    animation: degrade 10s infinite;
    position: fixed;
    padding: 0 30px;
    z-index: 10;
}
 
.logo, .logo img {
    height: 100%;
    padding: 5px
}
.logo {
    width: 256px;
}

nav {
    height: 100%;
    font-size: 24px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-right: 15px;
}
.contato, .cardapio {
    border-bottom: 2px solid rgba(255, 255, 255, 0.514);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
}


@keyframes degrade {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 100%;
    }
}

.titulo-stellar {
    font-size: 100px;
    font-family: 'Amatic SC', cursive;
    color: white;

}
.banner h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    color: white;
}

main {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}

.banner {
    padding: 30px;
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;

}
.cards {
    width: 100%;
    max-width: 1900px;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    flex-flow: row wrap;
    margin: 0 auto;
}

.card {
    width: calc((100% / 2) - 15px);
    border: 5px solid rgb(253, 201, 255);
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: fit-content;
}
@media (max-width: 1400px ) {
    .card {
        width: 90%;          
    }
    .cards {
        justify-content: center;
    }
}
@media (max-width: 800px) {
    .card {
        flex-flow: column nowrap
    }
    
    .card-desc {
        align-self: stretch;
        justify-self: stretch;
    }
}
.card-img {
    position: relative;
    width: 450px;
    display: flex;
    align-items: center;
}
.card-img img {
    border-radius: 20px;
    width: 100%;
    transition: all 1s;
}
.card-img img:nth-of-type(2) {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 450px;
}
.card-desc {
    width: calc(100% - 450px);
    padding: 20px;
    z-index: 4;
    align-self: stretch;
}
.card-img img:nth-of-type(2):hover {
    transform: rotate(-5deg);
    scale: 115%;
    
}

a {
    text-decoration: none;
}

.banner h1 {
    border-bottom: 2px solid white;
    width: fit-content;
    text-align: center;
    line-height: 1;
    margin-bottom: 20px;
}
